<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                Inventory control
            </a>
            <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarNavAltMarkup" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon">
                </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a aria-current="page" class="nav-link active" href="/">
                        Home
                    </a>
                    <a class="nav-link" href="/user/signin">
                        Sign in
                    </a>
                    <a class="nav-link" href="/user/signup">
                        Sign up
                    </a>
                    <a class="nav-link " href="/about" tabindex="-1">
                        About
                    </a>
                </div>
                <div class="dropdown">
                    <button aria-expanded="false" aria-haspopup="true" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2" type="button">
                        Action
                    </button>
                    <div aria-labelledby="dropdownMenu2" class="dropdown-menu">
                        <a class="dropdown-item" href="/products">
                            All products
                        </a>
                        <a class="dropdown-item" href="/product/add">
                            Add product
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
