<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="container">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Notes App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="/user/signin">Sign in</a>
        <a class="nav-link" href="/user/signup">Sign up</a>
        <a class="nav-link " href="/about" tabindex="-1" >About</a>

      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action
        </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <a class="dropdown-item" href="/notes">All notes</a>
            <a class="dropdown-item" href="/notes/add">Add note</a>
      </div>
  </div>
</div>
    </div>
  </div>
</div>
</nav>